.header{
    font-family: 'Libre Baskerville', serif;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    font-size: 85px;
}


a{
    color:whitesmoke
}

.subtext{
    font-size: 40px;
}

button{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    

}